:root {
  --color: currentColor;
  --background-color: white;
  --border-color: currentColor;
  font-size: 18px;
  font-family: verdana;
}
html, body, #theme, #app {
  color: var(--color);
  background: var(--background-color);
  border-color: var(--border-color);
  box-sizing: border-box;
  height: 100%;
  width: 100%;
  line-height: 1.5em;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}
body::-webkit-scrollbar {
  display: none;
}
*, *:before, *:after {
  box-sizing: inherit;
  color: inherit;
  border-color: inherit;
  line-height: inherit;
  font-family: inherit;
}
.console {
  --background-color: #170925;
  --border-color: #80DD9E;
  --color: #D4FFE1;
}
.blackboard {
  --background-color: #292929;
  --border-color: #EEEEEE;
  --color: #FDFDFD;
}
.whiteboard {
  --background-color: #FDFDFD;
  --border-color: #000000;
  --color: #3D37FF;
}
.paper {
  --background-color: #F1F0EB;
  --border-color: #383838;
  --color: #242325;
}
.coffee {
  --background-color: #2A1810;
  --border-color: #E9C4A2;
  --color: #FFEEDE;
}
.justify-right {
  margin-left: auto;
}
.panels {
  position: relative;
  flex: 1;
  width: 100%;
  display: flex;
  overflow: hidden;
}
.panel {
  padding: 0.125rem 0.5rem 0.25rem;
  flex: 1;
  width: 100%;
  display: flex;
  flex-direction: column;
  transition: transform 0.25s;
}
.panel.secondary {
  transform: translateX(0);
  background: var(--background-color);
  position: absolute;
  bottom: 0;
  top: 0;
}
.panel.hidden {
  transform: translateX(100%);
}
fieldset.hidden {
  display: none;
}
#about {}
#theme-picker {}
#word-list {}
#theme-options, #list-options, #modes {
  display: flex;
  flex-wrap: wrap;
  grid-gap: 0 0.75rem;
}
#result {
  flex: 1;
  overflow-y: scroll;
}
#definition {
  overflow-y: scroll;
  max-height: 50vh;
}
#input {
  display: flex;
  grid-gap: 0.25rem;
  padding-bottom: 0.75rem;
}
button {
  cursor: pointer;
  white-space: nowrap;
}
label:has(input[type=radio]), label:has(input[type=checkbox]) {
  display: grid;
  align-items: center;
  grid-template-columns: 1rem auto;
  gap: 0.5rem;
  cursor: pointer;
  white-space: nowrap;
  user-select: none;
}
label input[type=radio], label input[type=checkbox] {
  -webkit-appearance: none;
  appearance: none;
  background-color: transparent;
  margin: 0;
  font: inherit;
  color: currentColor;
  width: 1rem;
  height: 1rem;
  border: 0.125rem solid var(--border-color);
  display: grid;
  place-content: center;
}
label input[type=radio], label input[type=radio]::before {
  border-radius: 50%;
}
label input[type=radio]::before, label input[type=checkbox]::before {
  content: "";
  width: 0.5rem;
  height: 0.5rem;
  transform: scale(0);
  transition: transform 0.0625s ease-out;
  background: var(--color);
}
label input[type=radio]:checked::before, label input[type=checkbox]:checked::before {
  transform: scale(1);
}
input[type=text], button {
  background: none;
  border: none;
  outline: none;
  font-size: 1rem;
}
input.fluid {
  width: 100%
}
fieldset {
  border-radius: 0.625rem;
  border-style: solid;
  border-width: 2px;
  padding-block-start: 0.125rem;
  padding-inline-start: 0.75rem;
  padding-inline-end: 0.75rem;
  padding-block-end: 0.625em;
  margin: 0 0 0.375rem 0;
}
a {
  color: var(--color);
}
legend {
  font-size: 1rem;
}
ul {
  list-style-type: none;
  padding: 0;
  margin: 0 0 0.25rem 0;
}
li {
  cursor: pointer;
  user-select: none;
}
li.group-header {
  display: flex;
}
li.group-header:before, li.group-header:after {
  content: "";
  flex: 1 1;
  border-bottom: 2px solid var(--border-color);
  margin: auto;
}
li.group-header:before {
  margin-right: 0.5rem;
}
li.group-header:after {
  margin-left: 0.5rem;
}
li:not(.group-header):active {
  color: var(--background-color);
  background: var(--border-color);
}
li.selected {
  background: var(--color);
  color: var(--background-color);
}
p {
  margin: 0 0 0.25rem 0;
}
header {
  padding: 0.125rem 0.5rem 0;
  display: flex;
  align-items: center;
}
header h1 small {
  font-size: 0.375em;
}
header h1 strong {
  font-family: serif;
  font-weight: bold;
}
header h1 span {
  color: var(--border-color);
}
footer {
  color: var(--border-color);
  margin-top: auto;
}
h1 {
  font-size: 1.75rem;
  margin: 0.75rem auto 0.5rem 0;
  font-weight: normal;
}
h2 {
  font-size: 1.25rem;
  margin: 0.5rem auto 0.5rem 0;
  font-weight: normal;
}
header button {
  font-size: 1.5rem;
}
