:root {
  --color: #C1FFF2;
  --background-color: #231C2A;
  --border-color: #B2EDC5;
  font-size: 18px;
  font-family: verdana;
}
html, body {
  color: var(--color);
  background: var(--background-color);
  border-color: var(--border-color);
  box-sizing: border-box;
  height: 100%;
  width: 100%;
  line-height: 1.5em;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}
body::-webkit-scrollbar {
  display: none;
}
*, *:before, *:after {
  box-sizing: inherit;
  color: inherit;
  border-color: inherit;
  line-height: inherit;
}
body {
  height: 100%;
  margin: 0;
  padding: 0;
}
.justify-right {
  margin-left: auto;
}
#app {
  height: 100%;
  margin: 0 0.5rem;
  padding: 0.125rem 0 0.25rem;
  display: flex;
  flex-direction: column;
}
#options {
  display: flex;
  grid-gap: 0 0.5rem;
  flex-wrap: wrap;
}
#result {
  flex: 1;
  overflow-y: scroll;
}
#definition {
  overflow-y: scroll;
  max-height: 50vh;
}
#input {
  display: flex;
  grid-gap: 0.25rem;
  padding-bottom: 0.75rem;
}
button, label {
  cursor: pointer;
  white-space: nowrap;
}
input[type=checkbox], input[type=radio] {
  margin-right: 0.5rem;
}
input[type=text], button {
  background: none;
  border: none;
  outline: none;
  font-size: 1rem;
}
input.fluid {
  width: 100%
}
fieldset {
  border-radius: 0.625rem;
  border-style: solid;
  border-width: 2px;
  padding-block-start: 0.125rem;
  padding-inline-start: 0.75rem;
  padding-inline-end: 0.75rem;
  padding-block-end: 0.625em;
  margin: 0 0 0.25rem 0;
}
legend {
  font-size: 1rem;
}
ul {
  list-style-type: none;
  padding: 0;
  margin: 0 0 0.25rem 0;
}
li {
  cursor: pointer;
}
li:active {
  color: var(--background-color);
  background: var(--border-color);
}
li.selected {
  background: var(--color);
  color: var(--background-color);
}
p {
  margin: 0 0 0.25rem 0;
}
header {
  display: flex;
  align-items: center;
}
header small {
  font-size: 0.375em;
}
h1 {
  font-size: 2rem;
  margin: 0.75rem auto 0.5rem 0;
}
header button {
  font-size: 1.5rem;
}
